body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  color: #3D3D3D;
  text-align: center;
}

h1 {
  font-style: italic;
  color: #FF6F00;
}

video {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 20%);
}

section {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.removed {
  display: none;
}

.invisible {
  opacity: 20%;
}

.cam-view {
  position: relative;
  max-width: 640px;
  width: calc(100% - 20px);
  margin: 10px auto;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}

.cam-view p {
  position: absolute;
  padding: 5px;
  background-color: hsl(32, 100%, 50%, 85%);
  color: #FFF;
  border: 1px dashed hsl(0, 0%, 100%, 70%);
  border-radius: 4px;
  z-index: 2;
  font-size: 12px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 20%);
}

.highlighter {
  background: hsl(120, 100%, 50%, 25%);
  border: 1px dashed #FFF;
  z-index: 1;
  position: absolute;
  border-radius: 4px;
}
